.dashed-border {
    border: 1px dashed;
}

.solid-border {
    border: 1px solid;
    border-color: lightgrey;
}

.list-window {
    max-height: 300px;
    overflow-x: hidden;
}

#chart-div {
    background: black;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.nopadding {
    padding: 0;
}